<!-- app/templates/authorize.html -->
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Авторизация</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-4">
      <h1>Авторизация</h1>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="alert alert-{{ messages[0].category }}">
        {{ messages[0] }}
      </div>
      {% endif %} {% endwith %}
      <form method="post" action="{{ url_for('authorize') }}">
        <div class="form-group">
          <label for="email">Почта (@mirea.ru):</label>
          <input type="email" name="email" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="username">Имя пользователя:</label>
          <input type="text" name="username" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
      </form>
    </div>
  </body>
</html>
