<!-- app/templates/create.html -->
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Страница создания</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Страница создания</h1>
      <!-- Форма создания -->
      <form
        action="{{ url_for('create') }}"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="type">Тип выписки</label>
          <input
            type="text"
            class="form-control"
            id="type"
            name="type"
            placeholder="Введите тип выписки"
            required
          />
        </div>
        <div class="form-group">
          <label for="author">Автор</label>
          <input
            type="text"
            class="form-control"
            id="author"
            name="author"
            placeholder="Введите автора"
            required
          />
        </div>
        <div class="form-group">
          <label for="deadline">Дата истечения дедлайна</label>
          <input
            type="date"
            class="form-control"
            id="deadline"
            name="deadline"
            required
          />
        </div>
        <div class="form-group">
          <label for="status">Статус</label>
          <select class="form-control" id="status" name="status" required>
            <option value="Отправлена">Отправлена</option>
            <option value="Принята">Принята</option>
            <option value="Выполнена">Выполнена</option>
          </select>
        </div>
        <div class="form-group">
          <label for="description">Описание</label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            rows="4"
            placeholder="Введите описание"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="attachment">Вложение</label>
          <input
            type="file"
            class="form-control-file"
            id="attachment"
            name="attachment"
          />
        </div>
        <button type="submit" class="btn btn-primary">Создать</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
